In [1]:
# Data ----> Independent(X) , Dependent(y) 

# x ----> x_train , x_test 

# y ----> y_train , y_test 

# In training ---> we will trained our model from input to target data Relation . 
# In Testing ----> we will check our model that our model is perfectly working or not .

In [2]:
import numpy as np 
import pandas as pd

In [5]:
df = pd.read_csv("placement.csv")

In [6]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [7]:
df.shape

(100, 3)

In [11]:
x = df.drop(columns = ['placed'])  ### Input data 
y = df['placed']   ####Target data

In [8]:
# !pip install scikit-learn

In [9]:
from sklearn.model_selection import train_test_split

C:\Users\saurabh\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [24]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [30]:
print("Total data shape:" , df.shape)
print("--------------------------------")
print("--------------------------------")

print("Input data shape:" , x.shape)
print("Input data shape:" , x_train.shape)
print("Input data shape:" , x_test.shape)
print("--------------------------------")
print("--------------------------------")
print("Target data shape:" , y.shape)
print("Target data shape:" , y_train.shape)
print("Target data shape:" , y_test.shape)

Total data shape: (100, 3)
--------------------------------
--------------------------------
Input data shape: (100, 2)
Input data shape: (80, 2)
Input data shape: (20, 2)
--------------------------------
--------------------------------
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)

In [31]:
# df(100,3) = x(100,2) + y(100,1)
# x(100,2) = x_train(80,2) + x_test(20,2) 
# y(100,1) = y_train(80,1) + y_test(20,1)

In [32]:
x_train

    cgpa  resume_score
55  6.94          6.87
88  8.07          6.07
26  6.27          6.47
42  6.90          6.91
69  8.06          9.06
..   ...           ...
60  5.87          6.64
71  7.34          8.22
14  7.51          6.25
92  5.43          6.18
51  6.54          7.39

[80 rows x 2 columns]

# Covid data

In [33]:
df = pd.read_csv('covid_toy.csv')

In [34]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [36]:
df['gender'].value_counts()

Female    59
Male      41
Name: gender, dtype: int64

In [37]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [38]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [39]:
df['has_covid'].value_counts()

No     55
Yes    45
Name: has_covid, dtype: int64

In [40]:
df['gender'] = df['gender'].map({"Female":0 , "Male":1})

In [43]:
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1})

In [45]:
df.sample(4)

    age  gender  fever  cough       city has_covid
17   40       0   98.0      1      Delhi        No
14   51       1  104.0      0  Bangalore        No
36   38       0  101.0      0  Bangalore        No
2    42       1  101.0      0      Delhi        No

In [46]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [47]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [48]:
print("Total data shape:" , df.shape)
print("--------------------------------")
print("--------------------------------")

print("Input data shape:" , x.shape)
print("Input data shape:" , x_train.shape)
print("Input data shape:" , x_test.shape)
print("--------------------------------")
print("--------------------------------")
print("Target data shape:" , y.shape)
print("Target data shape:" , y_train.shape)
print("Target data shape:" , y_test.shape)

Total data shape: (100, 6)
--------------------------------
--------------------------------
Input data shape: (100, 5)
Input data shape: (80, 5)
Input data shape: (20, 5)
--------------------------------
--------------------------------
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)

In [49]:
# df(100,6) = x(100,5) + y(100,1) 
# x(100,5) = x_train(80,5) + x_test(20,5) 
# y(100,1) = y_train(80,1) + y_test(20,1)

In [50]:
df = pd.read_csv('covid_toy.csv')

In [60]:
df.head(1)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No

In [59]:
# df.isnull().sum()

In [53]:
# Using SimpleImputer() , we will fill missing data . 
# if data is : 
# Numerical ---> fill mean 
# Categorical ---> fill most_frequent_value

In [54]:
from sklearn.impute import SimpleImputer

In [55]:
si = SimpleImputer()

In [56]:
df['fever'] = si.fit_transform(df[['fever']]) ### fit means learn the parameters and trasform means 
# aply on that data

In [57]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [58]:
df.shape

(100, 6)