In [1]:
# Encoding ---> Using this method , we can convert our categorical data into Numerical data .

# (1). LabelEncoding ---> Transform categorical data into Numerical data but it will work only 
# single-single column . It will automatically decide which value pass to the which sub-category .

# (2). OrdinalEncoding ---> Transform categorical data into Numerical data but it will work on 
# multiple column . It will automatically decodie which value pass to the which sub-category .

# (3). OnehotEncoding ---> Transform categorical data into Numerical data but it will create 
# new colum based on sub-categories which you mentioned in your column . It will not provide 
# you column name. 
# Column Survived(Yes , No) ---> Survived_Yes , Survived_No

# (4). get_dummies ----> Transform categorical data into Numerical data but it will create 
# new colum based on sub-categories which you mentioned in your column 
# but it will provide you column name also.
# Column Survived(Yes , No) ---> Survived_Yes , Survived_No

# (1). LabelEncoding

In [30]:
import pandas as pd 
import numpy as np

In [31]:
df = pd.read_csv("covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [72]:
# df.isnull().sum()

In [35]:
from sklearn.impute import SimpleImputer

In [36]:
si = SimpleImputer()

In [37]:
df['fever'] = si.fit_transform(df[['fever']])

In [73]:
# df.isnull().sum()

In [74]:
# df.head(3)

In [39]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

# LabelEncoding

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
lb = LabelEncoder()

In [15]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [75]:
# df.sample(3)

In [19]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc = StandardScaler()

In [25]:
x_train_sc= sc.fit_transform(x_train)

In [26]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [76]:
np.round(x_train_new.describe() , 2)

In [77]:
df['city'].value_counts()

In [41]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [43]:
df.isnull().sum()

In [44]:
from sklearn.preprocessing import LabelEncoder

In [45]:
lb = LabelEncoder()

In [47]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [48]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [49]:
x = df.drop(columns = ['total_bill'])
y = df['total_bill']

In [50]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [51]:
from sklearn.preprocessing import MinMaxScaler

In [52]:
mn = MinMaxScaler()

In [54]:
x_train_mn = mn.fit_transform(x_train)

In [55]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [56]:
np.round(x_train_new.describe() , 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00

# (2). OrdinalEncoder

In [57]:
df = pd.read_csv("covid_toy.csv")

In [78]:
# df.head(3)

In [59]:
df = df.drop(columns = ['age' , 'fever'])

In [79]:
# df.head(3)

In [80]:
# df['city'].value_counts()

In [61]:
from sklearn.preprocessing import OrdinalEncoder

In [64]:
oe = OrdinalEncoder(categories = [['Male' , 'Female'],
                                 ['Mild' , 'Strong'],
                                 ['Kolkata' ,'Bangalore' , 'Delhi' , 'Mumbai'],
                                 ['Yes' , 'No']])

In [68]:
oe_sc = oe.fit_transform(df)

In [70]:
new_df = pd.DataFrame(oe_sc , columns = df.columns) 
new_df.head(3)

   gender  cough  city  has_covid
0     0.0    0.0   0.0        1.0
1     0.0    0.0   2.0        0.0
2     0.0    0.0   2.0        1.0

In [71]:
new_df = new_df.astype(int) 
new_df.head(4)

   gender  cough  city  has_covid
0       0      0     0          1
1       0      0     2          0
2       0      0     2          1
3       1      0     0          1

In [81]:
# Tips data --> 
# remove numerical columns 
# apply ordinalEncoder