In [25]:
import numpy as np 
import pandas as pd

In [26]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\insurance.csv")

In [27]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [28]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
lb = LabelEncoder()

In [31]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [32]:
x = df.drop(columns = ['charges'])  ## Input
y = df['charges']   ## Target

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [38]:
print("Total data shape:" , df.shape)
print("------------------------------")
print("Total Input data Shape:" , x.shape)
print("Total Input data Shape:" , x_train.shape)
print("Total Input data Shape:" , x_test.shape)
print("------------------------------")
print("Total Target data Shape:" , y.shape)
print("Total Target data Shape:" , y_train.shape)
print("Total Target data Shape:" , y_test.shape)

In [36]:
# df(1338 , 7) = x(1338,6) + y(1338,1) 
# x(1338,6) = x_train(1070,6) + x_test(268,6) 
# y(1338,1) = y_train(1070,1) + y_test(268,1)

In [49]:
np.round(x_train.describe() , 2)

# Standardization

In [41]:
from sklearn.preprocessing import StandardScaler

In [42]:
sc = StandardScaler()

In [46]:
x_train_sc = sc.fit_transform(x_train) ## fit means learn the parameters and transform means apply 
# on that data.

In [47]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [48]:
np.round(x_train_new.describe() , 2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean     -0.00    -0.00    -0.00     -0.00     0.00    -0.00
std       1.00     1.00     1.00      1.00     1.00     1.00
min      -1.52    -1.02    -2.42     -0.91    -0.51    -1.35
25%      -0.88    -1.02    -0.72     -0.91    -0.51    -0.46
50%       0.01     0.98    -0.06     -0.09    -0.51     0.44
75%       0.83     0.98     0.65      0.73    -0.51     0.44
max       1.75     0.98     3.74      3.20     1.97     1.34

In [50]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\Social_Network_Ads.csv")

In [72]:
# df.head(3)

In [70]:
df.isnull().sum()

In [53]:
from sklearn.preprocessing import LabelEncoder

In [54]:
lb = LabelEncoder()

In [55]:
df['Gender'] = lb.fit_transform(df['Gender'])

In [73]:
# df.head(3)

In [57]:
x = df.drop(columns = ['Purchased'])
y = df['Purchased']

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=42)

In [74]:
np.round(x_train.describe() , 2)

In [61]:
from sklearn.preprocessing import MinMaxScaler

In [62]:
mn = MinMaxScaler()

In [64]:
x_train_mn = mn.fit_transform(x_train)

In [65]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [69]:
np.round(x_train_new.describe() , 2)

       User ID  Gender     Age  EstimatedSalary
count   320.00   320.0  320.00           320.00
mean      0.49     0.5    0.47             0.41
std       0.29     0.5    0.24             0.26
min       0.00     0.0    0.00             0.00
25%       0.22     0.0    0.29             0.21
50%       0.49     0.5    0.45             0.41
75%       0.72     1.0    0.64             0.54
max       1.00     1.0    1.00             1.00

In [90]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\titanic.csv")

In [124]:
# df.head(3)

In [92]:
df = df.drop(columns = ['Name' , 'Ticket' , 'Cabin'])

In [93]:
df.shape

(418, 9)

In [125]:
# df.columns

In [126]:
# df.sample(6)

In [127]:
# df.isnull().sum()

In [97]:
from sklearn.impute import SimpleImputer

In [99]:
si = SimpleImputer()

In [101]:
df['Age'] = si.fit_transform(df[['Age']])
df['Fare'] = si.fit_transform(df[['Fare']])

In [128]:
# df.isnull().sum()

In [129]:
# df.head(3)

In [104]:
from sklearn.preprocessing import LabelEncoder

In [105]:
lb = LabelEncoder()

In [106]:
df['Sex'] = lb.fit_transform(df['Sex'])
df['Embarked'] = lb.fit_transform(df['Embarked'])

In [130]:
# df.head(3)

In [108]:
x = df.drop(columns = ['Survived'])
y = df['Survived']

In [109]:
from sklearn.model_selection import train_test_split

In [110]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=42)

In [111]:
np.round(x_train.describe() , 2)

       PassengerId  Pclass     Sex     Age   SibSp   Parch    Fare  Embarked
count       334.00  334.00  334.00  334.00  334.00  334.00  334.00    334.00
mean       1100.31    2.27    0.65   30.15    0.47    0.40   36.91      1.40
std         115.98    0.84    0.48   12.98    0.94    0.94   57.97      0.86
min         893.00    1.00    0.00    0.33    0.00    0.00    0.00      0.00
25%        1006.25    1.00    0.00   22.62    0.00    0.00    7.89      1.00
50%        1100.50    3.00    1.00   30.27    0.00    0.00   14.46      2.00
75%        1197.75    3.00    1.00   35.00    1.00    0.00   33.91      2.00
max        1309.00    3.00    1.00   76.00    8.00    9.00  512.33      2.00

In [112]:
from sklearn.preprocessing import MinMaxScaler

In [114]:
mn = MinMaxScaler()

In [116]:
x_train_mn = mn.fit_transform(x_train)

In [117]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [118]:
np.round(x_train_new.describe() , 2)

       PassengerId  Pclass     Sex     Age   SibSp   Parch    Fare  Embarked
count       334.00  334.00  334.00  334.00  334.00  334.00  334.00    334.00
mean          0.50    0.63    0.65    0.39    0.06    0.04    0.07      0.70
std           0.28    0.42    0.48    0.17    0.12    0.10    0.11      0.43
min           0.00    0.00    0.00    0.00    0.00    0.00    0.00      0.00
25%           0.27    0.00    0.00    0.29    0.00    0.00    0.02      0.50
50%           0.50    1.00    1.00    0.40    0.00    0.00    0.03      1.00
75%           0.73    1.00    1.00    0.46    0.12    0.00    0.07      1.00
max           1.00    1.00    1.00    1.00    1.00    1.00    1.00      1.00

In [119]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex              int32
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked         int32
dtype: object

In [120]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\Attrition.csv")

In [121]:
df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [122]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [123]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object