In [1]:
# Data Devidation 

# df ---> x + y
# x ----> x_train , x_test 
# y ----> y_train , y_test

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('placement.csv')
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [4]:
x = df.drop(columns = ['placed'])    ### Input data 
# x

In [5]:
y = df['placed']    ### Target data 
# y

In [6]:
from sklearn.model_selection import train_test_split

C:\Users\saurabh\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [7]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [44]:
np.round(x_train.describe() , 2)

In [43]:
x_train.describe()

In [10]:
# Mean ---> Average 

# Normal Distribution ---> Central tendancy(mean,median) --> left and right side equal data points . 
# Standard deviation ---> Next value gap from central tendancy .

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc=  StandardScaler()

In [13]:
x_train_sc = sc.fit_transform(x_train) ## fit means learn the parameters and transform means apply on that data

In [14]:
np.round(x_train_sc.describe() , 2)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [15]:
type(x_train_sc)

numpy.ndarray

In [16]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)  
type(x_train_new)

pandas.core.frame.DataFrame

In [17]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

# data-2

In [69]:
df = pd.read_csv("covid_toy.csv")

In [70]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [71]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [72]:
from sklearn.impute import SimpleImputer   ### it is used for filling missing data

In [73]:
si = SimpleImputer()

In [74]:
df['fever'] = si.fit_transform(df[['fever']])

In [75]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [76]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [77]:
df['has_covid'].value_counts()

No     55
Yes    45
Name: has_covid, dtype: int64

In [78]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1}) 
df['city'] = df['city'].map({"Kolkata":0 , "Bangalore":1 , "Delhi":2 , "Mumbai":3}) 
df['has_covid'] = df['has_covid'].map({'Yes':0 , 'No':1})

In [79]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          1
1   27       0  100.0      0     2          0
2   42       0  101.0      0     2          1

In [80]:
x = df.drop(columns = ['has_covid'])  ## Input data 
y = df['has_covid']   ### Target data

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state = 42)

In [83]:
np.round(x_train.describe() , 2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.59  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [84]:
from sklearn.preprocessing import StandardScaler

In [85]:
sc = StandardScaler()

In [86]:
x_train_sc = sc.fit_transform(x_train)

In [87]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [88]:
np.round(x_train_new.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -1.19  -1.56  -0.82  -1.19
25%    -0.94   -1.19  -0.51  -0.82  -1.19
50%    -0.04    0.84   0.01  -0.82  -0.25
75%     0.91    0.84   0.53   1.22   0.70
max     1.69    0.84   1.57   1.22   1.64

In [89]:
# Import tips data 
# check missing values 
# Target column is total_bill 
# check mean and standard deviation 
# Apply StandardScaler

In [90]:
# a=5 ---> old_data_x_train
# b=10
# a=20  ---> tips data x_train
# print(a,b)

In [91]:
# Normalization ----> min_value = 0 , max_value = 1

In [92]:
# Play store --> appp ---> downlloads  2.3M , app ---> download 23k, app ---> download 400

In [96]:
df = pd.read_csv("placement.csv")
df.head(1)

   cgpa  resume_score  placed
0  8.14          6.52       1

In [97]:
x = df.drop(columns = ['placed'])
y = df['placed']

In [98]:
x_train , x_test , y_train  , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [106]:
np.round(x_train.describe() , 2)

In [100]:
from sklearn.preprocessing import MinMaxScaler

In [101]:
mn = MinMaxScaler()

In [103]:
x_train_mn = mn.fit_transform(x_train)

In [104]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [105]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean    0.42          0.50
std     0.28          0.25
min     0.00          0.00
25%     0.18          0.32
50%     0.33          0.54
75%     0.69          0.67
max     1.00          1.00